# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/

# Build artifacts
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db
